h1 {
    text-align: center;
}

.btn-agregar {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */

}

table {
    text-align: center;
    border-radius: 100px; /* Ajusta el valor para cambiar el nivel de redondez */
    border: 7px solid #000; /* Opcional: para un borde visible */
}