h1 {
    text-align: center;
}

form {    
    
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.btn-editar {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.btn-agregar {
    display: flex;
    justify-content: center; 
    align-items: center;  
}
